<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wish">

    <!--  단일 위시 조회  -->
    <select id="findWishById" parameterType="long" resultType="Wish">
        select *
        from wish
        where id = #{id};
    </select>

    <!--    위시 입력    -->
    <insert id="insertWish" parameterType="Wish">
        insert into wish.wish( user_id, title, content, image, product_name, goal_amount, goal_date, is_public,
                              completion_status, register_datetime, modify_datetime)
        VALUES (#{userId}, #{title}, #{content}, #{image, jdbcType=BLOB}, #{productName}, #{goalAmount}, #{goalDate}, #{isPublic},
                #{completionStatus}, #{registerDatetime}, #{modifyDatetime});
    </insert>

    <!--  위시 정보 수정  -->
    <update id="updateWish" parameterType="Wish">
        update wish.wish
        set title        = #{title},
            content      = #{content},
            image        = #{image, jdbcType=BLOB},
            product_name = #{productName},
            goal_amount  = #{goalAmount},
            goal_date    = #{goalDate},
            is_public    = #{isPublic},
            modify_datetime = #{modifyDatetime}
        where id = #{id};
    </update>

    <!--  위시 삭제  -->
    <delete id="deleteWish" parameterType="java.lang.Long">
        delete
        from wish.wish
        where id = #{id}
    </delete>

    <!--  유저의 위시리스트 조회  -->
    <select id="userWishList" parameterType="java.lang.Long" resultType="Wish">
        select *
        from wish
                 join user u on u.id = wish.user_id
        where u.id = #{id};
    </select>


    <!--  위시 삭제  -->

</mapper>