<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishList">
  <select id="all" resultType="WishListDto">
    SELECT w.id, w.user_id, u.nickname, w.title, w.image, w.product_name, format(w.goal_amount, '#,#') as goalAmountFormat, ifnull(format((SUM(wh.amount)), '#,#'), '0') as ongoingAmountFormat,((SUM(wh.amount)) / w.goal_amount) * 100 AS percentage
    FROM user u
    INNER JOIN wish w ON u.id = w.user_id
    LEFT JOIN wish_history wh ON w.id = wh.wish_id
    where is_public = true
    GROUP BY w.id
    limit 9
  </select>
  <select id="completion" resultType="WishListDto">
    SELECT w.id, w.user_id, u.nickname, w.title, w.image, w.product_name, format(w.goal_amount, '#,#') as goalAmountFormat, ifnull(format((SUM(wh.amount)), '#,#'), '0') as ongoingAmountFormat, ((SUM(wh.amount)) / w.goal_amount) * 100 AS percentage
    FROM user u
           INNER JOIN wish w ON u.id = w.user_id
           LEFT JOIN wish_history wh ON w.id = wh.wish_id
    where is_public = true and completion_status = true
    GROUP BY w.id
    limit 9
  </select>
  <select id="ongoing" resultType="WishListDto">
    SELECT w.id, w.user_id, u.nickname, w.title, w.image, w.product_name, format(w.goal_amount, '#,#') as goalAmountFormat, ifnull(format((SUM(wh.amount)), '#,#'), '0') as ongoingAmountFormat, ((SUM(wh.amount)) / w.goal_amount) * 100 AS percentage
    FROM user u
           INNER JOIN wish w ON u.id = w.user_id
           LEFT JOIN wish_history wh ON w.id = wh.wish_id
    where is_public = true and completion_status = false
    GROUP BY w.id
    limit 9
  </select>
  <select id="new" resultType="WishListDto">
    SELECT w.id, w.user_id, u.nickname, w.title, w.image, w.product_name, format(w.goal_amount, '#,#') as goalAmountFormat, ifnull(format((SUM(wh.amount)), '#,#'), '0') as ongoingAmountFormat, ((SUM(wh.amount)) / w.goal_amount) * 100 AS percentage
    FROM user u
           INNER JOIN wish w ON u.id = w.user_id
           LEFT JOIN wish_history wh ON w.id = wh.wish_id
    where is_public = true
    GROUP BY w.id
    order by w.register_datetime desc
    limit 9
  </select>
</mapper>