<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WishHistoryMapper">
  <select id="findWishHistoryListByWishId" parameterType="java.lang.Long" resultType="WishHistory">
    SELECT wish_history.*
    FROM wish
           JOIN wish_history ON wish.id = wish_history.wish_id
    WHERE wish_history.wish_id = #{wishId}
  </select>

  <select id="findHistoryInfoById" parameterType="java.lang.Long" resultType="WishHistory">
    SELECT wish_history.*
    FROM wish_history
    WHERE id = #{id}
  </select>

  <!--id, title-->
  <select id="findWishByWishId" parameterType="java.lang.Long" resultType="WishDto">
    SELECT wish.*
    FROM wish
           INNER JOIN wish_history ON wish.id = wish_history.wish_id
  </select>

  <!--percent-->
  <select id="findRateByWishId" parameterType="java.lang.Long" resultType="WishHistoryRateDto">
    SELECT w.id                                            as wishId,
           FLOOR(((SUM(wh.amount) / w.goal_amount) * 100)) as percent
--     SELECT w.id as wishId, ((SUM(wh.amount) / w.goal_amount)*100)) as percent
    FROM wish w
           LEFT JOIN wish_history wh ON w.id = wh.wish_id
    WHERE w.id = #{id}
  </select>

  <insert id="insertWishHistory" parameterType="WishHistory">
    INSERT INTO wish_history (wish_id, history_datetime, amount, register_datetime, modify_datetime)
    VALUES (#{wishId}, #{historyDatetime}, #{amount}, #{registerDatetime}, #{modifyDatetime})
  </insert>

  <update id="updateWishHistory" parameterType="WishHistory">
    UPDATE wish_history
    SET history_datetime = #{historyDatetime, jdbcType=TIMESTAMP},
        amount           = #{amount},
        modify_datetime  = #{modifyDatetime, jdbcType=TIMESTAMP}
    WHERE id = #{id}
  </update>

  <delete id="deleteWishHistory" parameterType="java.lang.Long">
    DELETE
    FROM wish_history
    WHERE id = #{id}
  </delete>

  <update id="updateCompletionStatus" parameterType="java.lang.Long">
    UPDATE wish
    SET completion_status = CASE
                              WHEN (SELECT SUM(amount) FROM wish_history WHERE wish_history.wish_id = #{id}) >=
                                   goal_amount
                                THEN 1
                              ELSE 0
      END
    WHERE id = #{id}
  </update>

  <update id="updateCompletionStatusByDelete" parameterType="java.lang.Long">
    UPDATE wish
    SET completion_status = CASE
                              WHEN (SELECT SUM(amount)
                                    FROM wish_history
                                    WHERE wish_history.wish_id = (SELECT wish_id FROM wish_history WHERE id = #{id})) >=
                                   goal_amount
                                THEN 1
                              ELSE 0
      END
    WHERE id = (SELECT wish_id FROM wish_history WHERE id = #{id})
  </update>

</mapper>








