<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wishList">
  <select id="all" resultType="WishListDto">
    select image, title, product_name
    from wish
    where is_public = true
  </select>
  <select id="completion" resultType="WishListDto">
    select image, title, product_name
    from wish
    where is_public = true and completion_status = true
  </select>
  <select id="ongoing" resultType="WishListDto">
    select image, title, product_name
    from wish
    where is_public = true and completion_status = false
  </select>
  <select id="new" resultType="WishListDto">
    select image, title, product_name
    from wish
    where is_public = true
    order by register_datetime
  </select>

  <select id="getNickName" resultType="string" parameterType="WishListDto">
    select user.nickname
    from wish
    inner join user on wish.#{user_id} = user.id
  </select>
</mapper>








