<footer class="bg-gray-800 rounded-lg shadow dark:bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex items-center mb-4 sm:mb-0">
        <img src="/images/wishLogo-white.png" class="h-8 mr-3" alt="wish-Logo" />
        <div class="text-white mx-2">|</div>
        <div class="text-white mx-2">개인정보처리방침</div>
        <div class="text-white mx-2">|</div>
        <div class="text-white mx-2">이용약관</div>
      </div>
    </div>
    <div class="my-4 sm:flex sm:items-center sm:justify-between text-gray-400">
      (주)wish | 대표자: 지니 | 사업자번호: 02-1234-1234 사업자 정보 확인
    </div>
    <div class="my-4 sm:flex sm:items-center sm:justify-between text-gray-400">
      통신판매업: 2023-서울송파-0000 | 개인정보보호책임자: 지니 | 이메일: genie@wish.com
    </div>
    <div class="my-4 sm:flex sm:items-center sm:justify-between text-gray-400">
      주소: 서울특별시 송파구 중대로 135
    </div>
    <div class="my-6 sm:flex sm:items-center sm:justify-between text-gray-400">
      @wish. ALL RIGHTS RESERVED
    </div>
  </div>
</footer>