<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Wish</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      darkMode: 'class',
      theme: {
        extend: {
          colors: {
            primary: {"50":"#eff6ff","100":"#dbeafe","200":"#bfdbfe","300":"#93c5fd","400":"#60a5fa","500":"#3b82f6","600":"#2563eb","700":"#1d4ed8","800":"#1e40af","900":"#1e3a8a"}
          }
        },
        fontFamily: {
          'body': [
            'Inter',
            'ui-sans-serif',
            'system-ui',
            '-apple-system',
            'system-ui',
            'Segoe UI',
            'Roboto',
            'Helvetica Neue',
            'Arial',
            'Noto Sans',
            'sans-serif',
            'Apple Color Emoji',
            'Segoe UI Emoji',
            'Segoe UI Symbol',
            'Noto Color Emoji'
          ],
          'sans': [
            'Inter',
            'ui-sans-serif',
            'system-ui',
            '-apple-system',
            'system-ui',
            'Segoe UI',
            'Roboto',
            'Helvetica Neue',
            'Arial',
            'Noto Sans',
            'sans-serif',
            'Apple Color Emoji',
            'Segoe UI Emoji',
            'Segoe UI Symbol',
            'Noto Color Emoji'
          ]
        }
      }
    }
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<section>
    <!-- main text  -->
    <article class="text-center py-20">
      <h1 class="text-center my-9 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">We wish your wishes</h1>
      <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-24 xl:px-56 dark:text-gray-400">당신의 소망을 이루는 첫 걸음, Wish와 함께하세요! 당신이 원하는 물건을 구매할 수 있게 도와주며 다른 이들의 위시 내역을 보며 자극을 받을 수 있습니다. <br>Wish는 함께하는 여정에서 당신의 꿈을 현실로 만들어드립니다. 지금 Wish와 함께 꿈을 이루어나가보세요!</p>

      <a href="/wish/create" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        등록하기
      </a>
    </article>
    <!-- wish list  -->
    <article>

      <div class="flex items-center justify-center py-6 md:py-8 flex-wrap">
        <button id="all" type="button" class="select-btn text-blue-700 hover:text-white border border-blue-600 bg-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:bg-gray-900 dark:focus:ring-blue-800">전체</button>
        <button id="completion" type="button" class="select-btn text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">성공</button>
        <button id="ongoing" type="button" class="select-btn text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">진행중</button>
        <button id="new" type="button" class="select-btn text-gray-900 border border-white hover:border-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-700 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center mr-3 mb-3 dark:text-white dark:focus:ring-gray-800">최신순</button>
      </div>

      <div id="list-output-box" class="px-80 mb-20 grid grid-cols-2 md:grid-cols-3 gap-6">
      </div>

    </article>
  </section>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:inline="javascript">
  const outputBox = document.querySelector("#list-output-box");

  const selectClass = document.querySelector("#all").className;
  const noneSelectClass = document.querySelector("#new").className;
  const btnArr = document.querySelectorAll(".select-btn");

  const xhr = new XMLHttpRequest();

  window.onload = function () {
    getWishList("all");
  }

  function noneSelectInit() {
      for(let i = 0; i < btnArr.length; i++) {
        btnArr[i].className = noneSelectClass;
      }
  }

  function getWishList(str) {
    xhr.onload = function () {
      if(xhr.status == 200) {
        let data = JSON.parse(this.responseText);
        outputBox.innerHTML = "";
        for(let i = 0; i < data.length; i++) {
          outputBox.innerHTML += `<div class="max-w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div>
              <a href="/wishHistory/${data[i].id}">
                <img class="rounded-t-lg" src="${data[i].imageSrc}" alt="default" />
              </a>
            </div>
            <div class="p-5">
              <a href="/wishHistory/${data[i].id}">
                <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">${data[i].productName}</h5>
              </a>

              <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">닉네임 : <span class="text-blue-700">${data[i].nickname}</span></p>
              <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">목표금액 : <span class="text-blue-700">${data[i].goalAmountFormat} 원</span></p>
              <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">달성률 : <span class="text-blue-700">${data[i].percentage} %</span></p>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">모금액 : <span class="text-blue-700">${data[i].ongoingAmountFormat} 원</span></p>
              <a  href="/wishHistory/${data[i].id}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </a>
            </div>
          </div>`;
        }
      }
    };
    xhr.open("GET", `/test/${str}`, true);
    xhr.send();
  }
  function addButtonEvent() {
    for(let i = 0; i < btnArr.length; i++) {
      btnArr[i].addEventListener('click', function () {
        noneSelectInit();
        btnArr[i].className = selectClass;

        getWishList(btnArr[i].id);
      });
    }
  }

  addButtonEvent();
</script>
</body>
</html>