<!DOCTYPE html>
<html>
<head>
  <title>Welcome Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div id="blog">
  <Container>
    <div class="mt-12 mb-12 space-y-2 text-center">
      <div class="w-1/12 mx-auto">
        <img src="/images/wishLogo-color.png" class="w-full">
      </div>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        김태현, 신다인, 김주영, 최정우
      </p>
      <p class="pt-12 lg:mx-auto lg:w-6/12 text-gray-800 dark:text-gray-300">
        원하는 물건을 구매할 수 있게 도와주며, 다른 이들의 위시기록을 보며 동기부여 받을 수 있는 웹사이트
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2 w-4/5 mx-auto">

      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">

        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            1차 프로젝트
          </h3>
          <p class="mt-6 mb-6 text-blue-600 "> 기능목록
            <p class="mb-2">회원가입 / 로그인 / 로그아웃 / 개인정보수정기능</p>
            <p class="mb-2">나의 wish 보기,등록,수정,삭제</p>
            <p class="mb-2">나의 wish 에서 달성률,저금내역등 정보 보여주기</p>
            <p class="mb-2">다른 유저들의 wish 목록 및 달성률 보기</p>
          </p>
          <p class="mt-6 mb-1 text-gray-600 dark:text-gray-300">
            관리자 id : <span class="text-blue-400">user2</span>
          </p>
          <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300">
            관리자 password : <span class="text-blue-400">password</span>
          </p>
          <a class="inline-block mb-14" href="http://localhost:8089">
            <span class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">1차 프로젝트로 이동하기</span>
          </a>
          <div class="flex justify-between">
          <div class="w-1/12">
            <img src="/images/v1/html5.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/css3.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/Javascript.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/AJAX.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/java.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/mybatis.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/MySQL.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/springboot.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/tailwind%20css.png" class="w-full">
          </div>
          <div class="w-1/12">
            <img src="/images/v1/tomcat.png" class="w-full">
          </div>
          </div>
        </div>
      </div>

      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">

        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            2차 프로젝트
          </h3>
          <p class="mt-6 mb-6 text-gray-600 dark:text-gray-300"> 기능목록
            <p class="mb-2">회원가입 및 로그인 기능에 Spring Security를 도입하여 보안 강화</p>
            <p class="mb-2">마이페이지 CRUD 기능에 Spring AOP를 이용한 로깅 기능 추가</p>
            <p class="mb-2">위시리스트 CRUD 기능에서 MyBatis 대신 Spring Data JPA 도입</p>
            <p class="mb-2">프로토타입 제작을 통해 기능 시나리오 검증 및 개선</p>
          </p>
          <p class="mt-6 mb-1 text-gray-600 dark:text-gray-300">
            관리자 id : <span class="text-blue-400">admin1</span>
          </p>
          <p class="mt-4 mb-8 text-gray-600 dark:text-gray-300">
            관리자 password : <span class="text-blue-400">1234</span>
          </p>
          <a class="inline-block mb-14" href="http://localhost:8080">
            <span class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">2차 프로젝트로 이동하기</span>
          </a>
          <div class="flex justify-between">
            <div class="w-1/12">
              <img src="/images/v1/html5.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/css3.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/Javascript.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/AJAX.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/java.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/mybatis.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v2/jpa.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/springboot.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/tailwind%20css.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v1/tomcat.png" class="w-full">
            </div>
          </div>
          <div class="flex justify-between mt-6">
            <div class="w-1/12">
              <img src="/images/v2/axios.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v2/vue.png" class="w-full">
            </div>
            <div class="w-1/12">
              <img src="/images/v2/docker.png" class="w-full">
            </div>
            <div class="w-1/12"></div>
            <div class="w-1/12"></div>
            <div class="w-1/12"></div>
            <div class="w-1/12"></div>
            <div class="w-1/12"></div>
            <div class="w-1/12"></div>
            <div class="w-1/12"></div>
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
</body>
</html>
